<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150529892020-6ikojto66t9nr3ohr19nn7nosai45pre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150529892020-6ikojto66t9nr3ohr19nn7nosai45pre</string>
	<key>API_KEY</key>
	<string>AIzaSyAA8MAHwUxT19LJ0cyIN52jKGNoxkijc_k</string>
	<key>GCM_SENDER_ID</key>
	<string>150529892020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NaoyukiUmeda.xcode.ChatLikeMemoApp</string>
	<key>PROJECT_ID</key>
	<string>chatlikememoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>chatlikememoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150529892020:ios:a4ec45742af9b6512f41e1</string>
</dict>
</plist>